{% extends "base.html" %}
{% load static %}
{% block title %}
    Recent Posts
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock css_files %}
{% block content %}
    <div class="blog-post" id="post-{{ blog.id }}">
        <ul>
            <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="blog-image">
            <li class="blog-title">{{ blog.title }}</li>
            <li class="blog-info">Written By | {{ blog.author }}</li>
            <li class="blog-info">Date | {{ blog.date }}</li>
            <li class="blog-content">{{ blog.content | linebreaks }}</li>
        </ul>
    </div>
{% endblock content %}
